<div class="page">
    <div class="page-header">
      <div class="page-title">
        <h1>
          Monitoring Recommendation
        </h1>
      </div>
      <div class="page-description">
        <p>
          Components of a monitoring solution that can adress the selected concerns
        </p>
      </div>
    </div>
    <div class="page-content">
      {{configuration.description}}
        <div class="top-banner">
            <div class="illustration" >
                <img src="{{configuration.image}}">
            </div>
        </div>
        <a href="{{configuration.setupFiles}}" target="_blank" class="button">Link to zip file</a>
    </div>
  </div>
