<div class="page">
  <div class="page-content"  *ngIf="configuration.id != -1">
      <div class="top-banner">
        <!--List of tools-->
        <div class="cardTools" >
          <h2>Monitoring tools</h2>
          <p *ngFor="let tool of tools">{{tool.name}}</p>
        </div>
        <div class="illustration" >
            <img src="{{configuration.image}}">
        </div>
      </div>
      <div class="file">
        <a class="field" href="{{configuration.setupFiles}}" target="_blank">&#xf019;</a>
        <div class="text">Configuration Files</div>
      </div>
      <div class="markdown">
        <app-markdown-preview [Markdown]="Markdown"></app-markdown-preview>
      </div>
    </div>
    <p *ngIf="configuration.id == -1">{{configuration.description}}</p>
  </div>
