<div class="page">
    <div class="page-header">
      <div class="page-title">
        <h1>
          Monitoring Recommendation
        </h1>
      </div>
      <div class="page-description">
        <p>
          Components of a monitoring solution that can adress the selected concerns
        </p>
      </div>
    </div>
    <div class="page-content">
      {{configuration.description}}
        <div class="top-banner">
          <!--List of tools-->
          <div class="illustration" >
            <img src="{{configuration.image}}">
        </div>
            <div class="illustration" >
                <img src="{{configuration.image}}">
            </div>
        </div>
        <div class="file">
          <a class="field" href="{{configuration.setupFiles}}">&#xf019;</a>
          <div class="text">Configuration Files</div>
        </div>
        <app-markdown-preview [Markdown]="Markdown"></app-markdown-preview>
    </div>
  </div>
