.footer { 
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    background-color: #2F8F9D;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 25px 25%;
    column-gap: 25px;
}

.footer button {
    font-size: 24px;
    border-radius: 30px;
}


.errortext {
    width: max-content;
    max-width: 50vw;
    background-color: lightcoral;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    overflow-wrap: break-word;
    visibility: hidden;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 80%;
    right: 40%;
}

button:hover .errortext {
    visibility: visible;
}