<div class="page">
  <div class="page-header">
    <div class="page-title">
      <h1>
        Desired Design Options
      </h1>
    </div>
    <div class="page-description">
      <p>
        Some text to describe the page, like this is what you need to select
      </p>
    </div>
  </div>
  <div class="page-content">
    <div *ngFor="let concern of concerns">
      <app-contentcard class="card" [title]="concern.name" *ngIf="checkedConcerns.get(concern.id)">
        <div class="line-container">
          <div class="implementation-difficulty-header difficulty-header">Implementation</div>
          <div class="maintenance-difficulty-header difficulty-header">Maintanence</div>
        </div>
        <div class="line-container" *ngFor="let approach of concernApproaches(concern)">
          <app-checkbox-line
            [description]="approach.name"
            [tooltip]="approach.description"
            (onClick)="checkbox($event)"
            >
          </app-checkbox-line>
          <app-difficulty-bar [difficulty]="approach.implementationDifficulty"></app-difficulty-bar>
          <app-difficulty-bar [difficulty]="approach.maintenanceDifficulty"></app-difficulty-bar>
        </div>         
      </app-contentcard>
    </div>
  </div>
</div>
