.page-header {
    margin: 0 auto;
    max-width: 40vw;
    background-color: #bbb;
}

.page-title {
    margin: 0 auto;
    padding: 1em 0;
    width: fit-content;
}

.page-title h1 {
    font-size: 32px;
}

.page-description {
    margin: 0 auto;
    padding: 1em 0;
    width: fit-content;
}

.page-description p {
    font-size: 20px;
}

.page-content {
    height: 100%;
    padding: 3em;
}

.card {
    margin: 0 15px;
}

.line-container {
    display: grid;
    position: relative;
    grid-template-columns: 50% 1fr 1fr;
}

.difficulty-header {
    width: 100%;
    font-size: 16px;
    text-align: center;
    text-decoration: underline;
    word-wrap: break-word;
    overflow: hidden;
}

.implementation-difficulty-header {
    grid-column: 2;
}

.maintenance-difficulty-header {
    grid-column: 3;
}


