<div class="page">
    <div class="page-header">
        <div class="page-title">
            <h1>
                Desired Design Options
            </h1>
        </div>
        <div class="page-description">
            <p>
                Some text to describe the page, like this is what you need to select
            </p>
        </div>
    </div>
    <div class="page-content">
        <div class="checkbox-form">
            <div class="line-container">
                <app-checkbox-line [description]="'description'" [tooltip]="'This is a slightly longer tooltip to illustrate how these might lookThis is a slightly longer tooltip to illustrate how these might look'"></app-checkbox-line>
                <app-checkbox-line [description]="'description'" [tooltip]="'tooltip'"></app-checkbox-line>
                <app-checkbox-line [description]="'description'" [tooltip]="'tooltip'"></app-checkbox-line>
                <app-checkbox-line [description]="'description'" [tooltip]="'tooltip'"></app-checkbox-line>
            </div>
        </div>
    </div>
</div>
