<div class="page">
  <div class="page-header">
    <div class="page-title">
      <h1>
        Objectives Options
      </h1>
    </div>
    <div class="page-description">
      <p>
        Some text to describe the page, like this is what you need to select
      </p>
    </div>
  </div>
  <div class="page-content">
    <mat-card class="card">
      <mat-grid-list [cols]="getGridColumns()" rowHeight="200px" gutterSize="15px">
        <mat-grid-tile *ngFor="let objective of objectives">
          <div class="qw-card_centered">
            <button class="custom-btn btn-1" (click)="presetConcerns(objective)">
              <div class="qw-card_media">
                <div class="qw-avatar-lg">
                  <div class="qw-avatar qw-avatar-icon qw-blue-8" aria-label="Anonymous user">
                    <img [src]='getIcon(objective)'/>
                  </div>
                </div>
              </div>
              <div class="qw-card_inner">
                <div class="qw-card_header">
                  <div class="">
                    <div class="qw-card_title">
                      <h4 class="m-0 mb-1">{{objective.name}}</h4>
                    </div>
                    <div class="qw-card_subtitle"></div>
                  </div>
                </div>
                <div class="qw-card_separator"></div>
                <div class="qw-card_body">
                  <p>{{objective.description}}</p>
                </div>
              </div>
            </button>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card>
    <div *ngIf="showConcerns">
      <div class="line-container">
        <div *ngFor="let concern of concerns">
          <app-checkbox-line [description]="concern.name" [tooltip]="concern.description" type="checkbox"
            [isChecked]="checkedConcerns.get(concern.id) ? true : false" (onClick)="changeSelection(concern, $event)">
          </app-checkbox-line>
        </div>
      </div>
    </div>
  </div>
</div>