<div class="checkbox-line">
  <label class="checkbox-column">
    <div class="name" [style]="getNameStyle()">{{name}}</div>
    <div class="description" [style]="getDescriptionStyle()">{{description}}</div>
    <mat-checkbox
      class="checkmark"
      (change)="onChange($event)"
      [disabled]="disabled"
      [checked]="isChecked"
      ></mat-checkbox>
    <div class="tooltip" *ngIf="tooltip != ''">
      <p>?</p>
      <span class="tooltiptext">{{tooltip}}</span>
    </div>
  </label>
  <ng-content *ngIf="isChecked"></ng-content>
</div>
